@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-200 font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-white;
  }
}
